<h1>VPS SEARCH</h1>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Price</label>
    <div class="col-sm-10">
      <select class="form-control col-sm-10" name="">
        <option>$1</option>
        <option>$2</option>
        <option>$3</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="ram" class="col-sm-2 control-label">RAM</label>
    <div class="col-sm-10">
      <select class="form-control col-sm-10" name="ram">
        <option>256MB RAM</option>
        <option>156MB RAM</option>
        <option>326MB RAM</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="platform" class="col-sm-2 control-label">Platform</label>
    <div class="col-sm-10">
      <select class="form-control col-sm-10" name="platform">
        <option>Zen</option>
        <option>Linux</option>
        <option>BSD</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="location" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
      <select class="form-control col-sm-10" name="location">
        <option>Denver</option>
        <option>Chicago</option>
        <option>New York</option>
        <option>Los Angeles</option>
        <option>Seattle</option>
        <option>Dallas</option>
        <option>Kansas City</option>
        <option>Atlanta</option>
        <option>Buffalo</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="disk" class="col-sm-2 control-label">Disk</label>
    <div class="col-sm-10">
      <select class="form-control col-sm-10" name="disk">
        <option>15GB SSD</option>
        <option>30GB SSD</option>
        <option>50GB SSD</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="bandwidth" class="col-sm-2 control-label">Bandwidth</label>
    <div class="col-sm-10">
      <select class="form-control col-sm-10" name="bandwidth">
        <option>1.5 TB</option>
        <option>2 TB</option>
        <option>3 TB</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="cpu" class="col-sm-2 control-label">CPU</label>
    <div class="col-sm-10">
      <select class="form-control col-sm-10" name="cpu">
        <option>1 CORE</option>
        <option>2 CORES</option>
        <option>3 CORES</option>
        <option>4 CORES</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="IP" class="col-sm-2 control-label">IP</label>
    <div class="col-sm-10">
      <select class="form-control col-sm-10" name="IP">
        <option>1 IPv6</option>
        <option>2 IPv6</option>
        <option>1 IPv4</option>
        <option>2 IPv6</option>
      </select>
    </div>
  </div>
  <button type="button" class="btn btn-primary col-sm-12">Submit</button>

</form>
